{% extends "account/base.html" %}
{% load static %}

{% block extra_head %}
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
  <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link type="text/css" rel="stylesheet" href={% static "/blog/css/materialize.min.css" %}  media="screen,projection"/>
{% endblock %}

{% load i18n %}


{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}

<div class="container">
<br>
<br>
<h4 class="center">{% trans "Sign In" %}</h4>
<div class="row">
<div class="col s4 offset-s4">
{% get_providers as socialaccount_providers %}

{% if socialaccount_providers %}
<p>{% blocktrans with site.name as site_name %}小伙子,咋个说,要不用你那骚气第三方账号登陆一把,或者<a href="/users/register">注个册?</a>
对于{{ site_name }}支持的第三方账号有:{% endblocktrans %}</p>

<div class="socialaccount_ballot">

  <ul class="socialaccount_providers">
    {% include "socialaccount/snippets/provider_list.html" with process="login" %}
  </ul>

  <div class="login-or">{% trans 'or' %}</div>

</div>

{% include "socialaccount/snippets/login_extra.html" %}

{% else %}
<p>{% blocktrans %}If you have not created an account yet, then please
<a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}</p>
{% endif %}

<form class="login" method="POST" action="{% url 'account_login' %}">
  {% csrf_token %}
  {{ form.as_p }}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <a class="button secondaryAction" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
  <button class="primaryAction btn red lighten-1" type="submit">{% trans "Sign In" %}</button>
</form>
</div>
</div>
</div>
{% endblock %}


{% block extra_body %}
  <script src="//cdn.bootcss.com/jquery/3.1.1/jquery.min.js"></script>
  <script type="text/javascript" src={% static "/blog/js/materialize.min.js" %}></script>
{% endblock %}
