<!DOCTYPE html>
<html>
  <head>
    {% load static %}
    <title>{%block page-title%}{% endblock %}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!--Import Google Icon Font-->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href={% static "/blog/css/materialize.min.css" %}  media="screen,projection"/>
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    {% block css %}
    {% endblock %}
  </head>

  <body>
    <div class="row">
      <div class="col s12 m12">
        <div class="card z-depth-4">
          <div class="card-image">
            <img src={% static "/blog/images/mountain.jpg" %}>
            <span class="card-title white-text text-darken-3"></span>
          </div>
          <div class="card-action red lighten-4">
            <a href="#" class="blue-grey-text text-darken-3">瓦尔登湖</a>
            <a href="{% url 'blog:about' %}" class="right blue-grey-text text-darken-3 hoverable">关于WINTON</a>
            <a href="{% url 'blog:trick' %}" class="right blue-grey-text text-darken-3 hoverable">诗</a>
            <a href="{% url 'blog:abstract' %}" class="right blue-grey-text text-darken-3 hoverable">博客</a>
            <a href="{% url 'blog:index'%}" class="right blue-grey-text text-darken-3 hoverable">主页</a>
          </div>
        </div>
      </div>
    </div>

    {% block detail %}{% endblock %}
    {% block comment %}{% endblock %}
    {% block side-nav-list %}{% endblock %}
    {% block abstract %}{% endblock %}
    {% block trick %}{% endblock %}
    {% block about %}{% endblock %}

    <footer class="page-footer red lighten-3">
      <div class="container">
        <div class="row">
          <div class="col l6 s12">
            <h5 class="white-text">三五七言</h5>
            <p class="grey-text text-lighten-4">入我相思门，</p>
            <p class="grey-text text-lighten-4">知我相思苦，</p>
            <p class="grey-text text-lighten-4">长相思兮长相忆，</p>
            <p class="grey-text text-lighten-4">短相思兮无穷极.</p>
          </div>
          <div class="col l4 offset-l2 s12">
            <h5 class="white-text">连接</h5>
            <ul>
              <li><a class="grey-text text-lighten-3" href="#!">读书</a></li>
              <li><a class="grey-text text-lighten-3" href="#!">足球</a></li>
              <li><a class="grey-text text-lighten-3" href="#!">跑步</a></li>
              <li><a class="grey-text text-lighten-3" href="#!">电影</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="footer-copyright">
        <div class="container">
        Powered By Django© 2017- Copyright Winton
        <a class="grey-text text-lighten-4 right" href="#!">Winton's Github</a>
        </div>
      </div>
    </footer>

    <!--Import jQuery before materialize.js-->
    <script src="//cdn.bootcss.com/jquery/3.1.1/jquery.min.js"></script>
    <script type="text/javascript" src={% static "/blog/js/materialize.min.js" %}></script>

    {% block js %}
    {% endblock %}


  </body>
</html>