<!DOCTYPE html>
<html>
  <head>
    {% load static %}
    <title>{%block page-title%}{% endblock %}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href={% static "/blog/css/materialize.min.css" %}  media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href={% static "/blog/css/style.css" %}  media="screen,projection"/>
    {% block css %}
    {% endblock %}
  </head>

  <body>
    <nav class="white" role="navigation">
      <div class="nav-wrapper container">
        <a id="logo-container" href="#" class="brand-logo">雨下青山</a>
        <ul class="right hide-on-med-and-down">
          <li><a href="{% url 'blog:index'%}" class="blue-grey-text text-darken-3 hoverable" id="index">主页</a></li>
          <li><a href="{% url 'blog:abstract' %}" class="blue-grey-text text-darken-3 hoverable">博客</a></li>
          <li><a href="{% url 'blog:trick' %}" class="blue-grey-text text-darken-3 hoverable">瓦尔登湖</a></li>
          <li><a href="{% url 'blog:about' %}" class="blue-grey-text text-darken-3 hoverable">关于</a></li>
        </ul>

        <ul id="nav-mobile" class="side-nav">
          <li class="blck-text"><a href="{% url 'blog:index' %}">主页</a></li>
          <li class="blck-text"><a href="{% url 'blog:abstract' %}">博客</a></li>
          <li class="blck-text"><a href="{% url 'blog:trick' %}">瓦尔登湖</a></li>
          <li class="blck-text"><a href="{% url 'blog:about' %}">关于</a></li>
        </ul>
        <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
      </div>
    </nav>

    <div id="index-banner" class="parallax-container">
      <div class="section no-pad-bot">
        <div class="container">
          <br><br>
          <h1 class="header center teal-text text-lighten-2">把酒问月</h1>
          <div class="row center">
            <h5 class="header col s12 light">
            青天有月来几时，我今停杯一问之：
            人攀明月不可得，月行却与人相随？</h5>
          </div>
          <div class="row center">
            <a href="#" class="btn-large waves-effect waves-light teal lighten-1">开始理想国</a>
          </div>
          <br>

        </div>
      </div>

      <div class="parallax"><img src="{% static '/blog/images/background1.jpg' %}" alt="Unsplashed background img 1"></div>
    </div>
    
    {% block background1 %}{% endblock %}
    {% block detail %}{% endblock %}
    {% block comment %}{% endblock %}
    {% block side-nav-list %}{% endblock %}
    {% block abstract %}{% endblock %}
    {% block trick %}{% endblock %}
    {% block about %}{% endblock %}

    <footer class="page-footer teal lighten-2">
      <div class="container">
        <div class="row">
          <div class="col l6 s12">
            <h5 class="white-text">三五七言</h5>
            <ul>
              <li class="grey-text text-lighten-4">入我相思门，</li>
              <li class="grey-text text-lighten-4">知我相思苦，</li>
              <li class="grey-text text-lighten-4">长相思兮长相忆，</li>
              <li class="grey-text text-lighten-4">短相思兮无穷极.</li>
            </ul>
          </div>
          <div class="col l6 s12">
            <h5 class="white-text">连接</h5>
            <ul>
              <li><a class="grey-text text-lighten-3" href="#!">读书</a></li>
              <li><a class="grey-text text-lighten-3" href="#!">足球</a></li>
              <li><a class="grey-text text-lighten-3" href="#!">跑步</a></li>
              <li><a class="grey-text text-lighten-3" href="#!">电影</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="footer-copyright">
        <div class="container">
        Made by <a class="grey-text text-lighten-3" href="http://materializecss.com">Materialize and Parallax Template Powered by Django</a> © 2017- Copyright Winton Wen
        <a class="grey-text text-lighten-4 right" href="#!">winton's Github</a>
        </div>
      </div>
    </footer>

    <!--Import jQuery before materialize.js-->
    <script src="//cdn.bootcss.com/jquery/3.1.1/jquery.min.js"></script>
    <script type="text/javascript" src={% static "/blog/js/materialize.min.js" %}></script>
    <script type="text/javascript" src={% static "/blog/js/init.js" %}></script>

    {% block js %}
    {% endblock %}


  </body>
</html>