{% extends "blog/common.html" %}
{% load static %}

{% block page-title%}
  {{ blog.title }} | winton
{% endblock %}

{% load static %}
{% block css %}
    <link rel="stylesheet" type="text/css" href={% static "/blog/semantic/semantic.min.css" %} />
    <link rel="stylesheet" type="text/css" href={% static "/myadmin/css/editormd.min.css" %} />
{% endblock %}

{% block detail %}
    <div class="row">
      <div class="col s10 offset-s1">
            <h1>{{ blog.title }}</h1>
            <p class="ui label lighten-2" style="background-color: #ffcdd2">{{ blog.pub_date|date:"Y-m-d H:i:s" }}</p>
            <p class="ui label lighten-2" style="background-color: #ffcdd2">阅读:{{blog.views}}</p>
            <a href="#cm" class="ui label lighten-2" style="background-color: #ffcdd2">评论:{{blog.blog_comments.count }}</a>
            {% for tag in tags %}
            <p class="ui label white-text waves-effect right" style="background-color: #ffcdd2">{{ tag }}</p>
            {% endfor %}
            <p class="ui label white-text waves-effect right" style="background-color: #ee6e73">{{ blog.classifications}}</p>
            <div class="divider"></div>
            <div class="markdown-body editormd-html-preview">
                {{ blog.content|safe}}
            </div>
      </div>
    </div>
{% endblock %}

{% block comment %}
<div class="row" id="cm">
    <div class="col s10 offset-s1"> 
        <div class="ui comments">
            <h3 class="ui dividing header">评论</h3>

            {% if comments %}
                {% for comment in comments %}
                    <div class="comment">
                        <a class="avatar"><img src={% static "/blog/images/avatar.png" %}></a>
                        <div class="content">
                            <a class="author" ca_id="{{comment.author.id}}" author="{{comment.author}}">{{comment.author}}</a>
                            <div class="metadata">
                                <span class="date">{{comment.comment_time|date:"Y-m-d H:i:s"}}</span>
                            </div>
                            <div class="text">{{ comment.content}}</div>
                            <div class="actions">
                                <a class="reply" comment_id="{{ comment.id }}">回复</a>
                            </div>
                        </div>

                        {% for commentreply in comment.comment_replies.all %}
                        <div class="comments">
                          <div class="comment">
                            <a class="avatar">
                              <img src={% static "/blog/images/avatar.png" %}>
                            </a>
                            <div class="content">
                              <a class="author" ca_id="{{ commentreply.author.id}}" author="{{ commentreply.author}}">{{ commentreply.author}}@{{ commentreply.to}}</a>
                              <div class="metadata">
                                <span class="date">{{ commentreply.reply_time|date:"Y-m-d H:i:s"}}</span>
                              </div>
                              <div class="text">{{ commentreply.content }}</div>
                              <div class="actions">
                                <a class="reply" comment_id="{{ comment.id }}">回复</a>
                              </div>
                            </div>
                          </div>
                        </div>
                        {% endfor %}
                    </div>
                {% endfor %}
            {% endif %}

            <form id="comment_form" class="ui form" action="{% url 'blog:comment' blog.id %}" method="POST">
                <br />
                {% csrf_token%}
                {{ commentSub }}
                <a class="ui blue button" id="message" href="/accounts/login">{{ message }}</a>
                <input type="submit" name="submit" value="评论" class="ui blue icon button commentsub">
            </form>

            <form style="display:none" id="commentReply_form" class="ui form" action="{% url 'blog:commentReply' blog.id %}" method="POST">
                {% csrf_token%}
                {{ commentReplySub.as_p}}
                <a class="ui blue button" id="message" href="/accounts/login">{{ message }}</a>
                <input type="submit" name="submit" value="回复" class="ui blue icon button commentsub">
            </form>

        </div>
    </div>
</div>
{% endblock %}

{% block js %}
    <script src={% static "/blog/semantic/semantic.min.js" %}></script>
    <script src={% static "/myadmin/marked.min.js" %}></script>
    <script type="text/javascript">
        $(document).ready(function() {
            var message = $("#message").text();
            if (message.length == 0){
                $("#message").hide();
            }else{
                $(".commentsub").hide();
            }
            $('.reply').click(function(event) {
                $('#comment_form').hide();
                $('#commentReply_form').css("display",'block');
                $('#commentReply_content').focus();

                $("label[for='id_cid']").hide()
                $("label[for='id_toid']").hide()
                $("#message").hide()

                var toAuthor_id = $(this).parent().siblings('.author').attr("ca_id");
                var toAuthor = $(this).parent().siblings('.author').attr("author");
                var comment_id = $(this).attr("comment_id");

                
                $('#id_cid').attr("value",comment_id);
                $('#id_toid').attr("value", toAuthor_id);
                $('#id_contentc').attr("placeholder",'@'+toAuthor);
                
            });
        });
    </script>
{% endblock %}




















