{% extends "myadmin/adminCommon.html" %}
{% block myadmin_title%}
  创建博文|winton
{% endblock %}

{% load static %}
{% block css%}
    <link rel="stylesheet" href={% static "/myadmin/css/editor_style.css" %}/>
    <link rel="stylesheet" href={% static "/myadmin/css/editormd.min.css" %}/>
    <link rel="shortcut icon" href="https://pandao.github.io/editor.md/favicon.ico" type="image/x-icon" />
    <style type="text/css">
        #classifications_container {
            height: 190px;
            overflow: auto;
        }

        #tags_container {
            height: 185px;
            overflow: auto;
        }

        #createblog {
            position: fixed;
            bottom: 100px;
            right: 10px;
        }
    </style>
{% endblock %}
        
{% block blog_add %}
    <div class="row">
            <div class="col s12">
                <h3 id="createMessage"></h3>  
            </div>
            <div class="col s10 offset-s1">
                    <br />
                    <h5 class="left-align">创建新的博文</h5>
                    <div class="divider"></div>
            </div>

            <form action="#" method="POST" id="new_blog">
                {% csrf_token%}
                <div class="row">
                    <div class="input-field col s3 offset-s1">
                        <input id="blog_title" type="text" class="validate" name="blog_title">
                        <label for="blog_title">博客标题</label>
                    </div>

                    <div class="input-field col s2 offset-s1" >
                        <h6 class="left-align">博客类别</h6>
                        <div id="classifications_container" >
                        {% block classifications %}
                            {% if classifications %}
                                {% for classification in classifications %}
                                    <p>
                                      <input class="with-gap" name="group1" type="radio" id="{{ classification.id}}" value="{{classification.id}}" />
                                      <label for="{{ classification.id}}">{{ classification.title}}</label>
                                    </p>
                                {% endfor %}
                            {% endif %}
                        {% endblock %}
                        </div>
                    </div>

                    <div class="input-field col s2">
                        <h6 class="left-align">博客标签</h6>
                        <div id="tags_container" >
                        {% block tags %}
                            {% if tags %}
                                {% for tag in tags %}
                                    <p>
                                      <input type="checkbox" id="{{tag}}" value="{{tag.id}}" name="tags" />
                                      <label for="{{tag}}">{{tag.title}}</label>
                                    </p>
                                {% endfor %}
                            {% endif %}
                        {% endblock %}
                        </div>
                    </div>
                </div>
            </form>
    </div>

    <div class="row">
        <div class="col s10 offset-s1">
            <div id="layout">
                <div id="editormd">
                </div>
            </div> 
        </div>
    </div>
    <button class="btn-large  red lighten-2 waves-effect waves-light" id="createblog">生成</button>
    <form action="{% url 'myadmin:save_blog'%}" method="POST">
        {% csrf_token %}
        {{ bform }}
        <input type="submit" name="submit" value="提交博客" class="red lighten-1 btn-large waves-effect waves-light">
    </form>

    <br />
    <br />
{% endblock%}

{% block js %}
    <script type="text/javascript" src={% static "/myadmin/editormd.min.js" %}></script>
    <script type="text/javascript">
        var testEditor;

        $(function() {
            testEditor = editormd("editormd", {
                width   : "95%",
                height  : 640,
                syncScrolling : "single",
                path    : '{% static "/myadmin/lib/" %}',
                saveHTMLToTextarea : true
            });
        });

        $(document).ready(function() {
            $("label[for='id_btitle']").hide();
            $("label[for='id_bclassifications']").hide();
            $("label[for='id_btags']").hide();
            $("label[for='id_bcontent']").hide();

            $("#createblog").click(function(event) {
                if ($('#blog_title').val().length == 0){
                    alert('请输入博客标题');
                    return false;
                }

                if ($("input[type='radio']:checked").length == 0) {
                    alert('请选择博客分类');
                    return false;
                }

                if ($('input[type="checkbox"]:checked').length == 0) {
                    alert('请选择博客标签');
                    return false;
                }

                var content = testEditor.getHTML();
                if (content.length == 0) {
                    alert("博客内容为空");
                    return false;
                }

                var title = $('#blog_title').val();
                $('#id_btitle').val(title);

                var classification = $("input[type='radio']:checked").val();
                $('#id_bclassifications').val(classification);

                var tags_id=new Array();  
                $('input[type="checkbox"]:checked').each(function(){  
                    tags_id.push($(this).val()); 
                });  
                var idstr=tags_id.join('#'); 
                $('#id_btags').val(idstr);

                var content = testEditor.getHTML();
                $('#id_bcontent').val(content);

                alert("Success! 模板生成");

            });            
        });
    </script>
{% endblock %}